body {
	margin: 0;
  font-family: Montserrat, sans-serif;
	font-size: 17px;
	color: #1C1C27;
	background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
	width: 1110px;
	margin: 0 auto;
	padding: 0;
}

.main-nav {
	display: flex;
}

.logo-header {
	height: 30px;
	margin-top: 13px;
	margin-bottom: 17px;
	margin-right: 105px;
	color: #101010;
	font-size: 25px;
	font-weight: 700;
	text-decoration: none;
}

.main-selector {
	display: flex;
	position: relative;
	color: #101010;
	font-size: 15px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 22px;
}

.list-header {
	cursor: pointer;
	padding: 0;
	margin-right: 5px;
}


.main-selector img {
	margin-top: 5px;
	transition: transform 0.3s ease-in-out;
}

.list-selector {
	background-color: #EAEAEA;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	list-style: none;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
	border-radius: 20px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-top: 10px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.list-selector li {
	margin-bottom: 10px;
}

.main-selector.show img {
	transform: rotate(90deg);
}

.main-selector.show .list-selector {
	opacity: 1;
	max-height: 200px;
}

.likes {
	width: 22px;
	height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: 25px;
}

.likes:hover {
	opacity: 50%;
}

.likes:active {
	opacity: 30%;
}

.basket {
	width: 23.2px;
	height: 23.2px;
	margin-top: 19.96px;
	margin-bottom: 16.84px;
	margin-right: 31.31px;
}

.basket:hover {
	opacity: 50%;
}

.basket:active {
	opacity: 30%;
}

.main-content {
	width: 1110px;
	margin: 0 auto;
  flex: 1;
}

.empty-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 61px;
  margin-bottom: 127px;
}

.empty-basket img {
  margin-bottom: 30px;
}

.empty-basket h2 {
  margin: 0;
  margin-bottom: 0;
  color: #101010;
  font-size: 30px;
  font-weight: 500;
}

.empty-basket p {
  margin: 0;
  color: #838383;
  font-size: 20px;
  font-weight: 400;
}

.empty-basket button {
  margin-top: 30px;
  width: 540px;
  height: 65px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  background-color: #101010;
  border: none;
  border-radius: 20px;
  background: #101010;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.not-empty-basket {
  margin-top: 29px;
  margin-bottom: 106px;
}

.not-empty-basket h2 {
  margin: 0;
  margin-bottom: 13px;
  color: #1C1C27;
  font-size: 20px;
  font-weight: 600;
}

.basket-total {
  display: flex;
}

.basket-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.basket-item {
  width: 633px;
  height: 218px;
  margin-bottom: 13px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.top-line {
  display: flex;
}

.main-img {
  display: block;
  margin-top: 18px;
  margin-left: 18.76px;
  margin-right: 23.44px;
}

.name-price {
  display: flex;
  flex-direction: column;
  margin-top: 76px;
}

.name-price h3 {
  margin: 0;
  margin-bottom: 12px;
  color: #1C1C27;
  font-size: 17px;
  font-weight: 500;
}

.gray-price {
  margin: 0;
  color: #AAA;
  font-size: 15px;
  font-weight: 600;
}

.garbage-img {
  margin-top: 18px;
  margin-left: auto;
  margin-right: 28.13px;
}

.bottom-line {
  display: flex;
}

.counter {
  display: flex;
  width: 125.43px;
  margin-left: 16.41px;
}

.minus-img,
.plus-img {
  margin-top: 17px;
}

.amount {
  margin: 0 auto;
  margin-top: 22px;
  color: #000;
  font-size: 17px;
  font-weight: 600;
}

.black-price {
  margin-top: 25px;
  margin-left: auto;
  margin-right: 28.13px;
  color: #1C1C27;
  text-align: right;
  font-size: 15px;
  font-weight: 600;
}

.total {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  width: 349px;
  height: 114px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.total h4 {
  margin: 0;
  margin-top: 22px;
  margin-left: 21.43px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.total-price {
  margin-top: 21px;
  margin-left: auto;
  margin-right: 16.33px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.total button {
  width: 349px;
  height: 65px;
  margin-top: 15px;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  background: #101010;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.main-footer {
	display: flex;
	width: 1110px;
	height: 149px;
	background-color: white;
	border-radius: 30px 30px 0px 0px;
	margin: 0 auto;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  margin-top: auto;
}

.logo-footer {
	height: 30px;
	margin-top: 29px;
	margin-left: 29px;
	margin-right: 190px;
	color: #101010;
	font-size: 25px;
	font-weight: 700;
	text-decoration: none;
}

.footer-list {
  padding: 0;
  margin: 0;
	margin-top: 33.72px;
  list-style: none;
}

.footer-item {
	margin-bottom: 10.7px;
}

.footer-item a {
	color: black;
	text-decoration: none;
}